<aside class="app-navbar">
    <!-- begin sidebar-nav -->
    <div class="sidebar-nav scrollbar scroll_light">
        <ul class="metismenu " id="sidebarNav">
            <li class="nav-static-title">Menu Principal</li>
            <li><a href="/admin" aria-expanded="false"><i class="nav-icon ti ti-desktop"></i><span class="nav-title">Escritorio</span></a></li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-calendar"></i><span class="nav-title">Temporadas</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/season">Listar</a></li>
                    <li><a href="/admin/season/add">Agregar</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-star"></i><span class="nav-title">Equipos</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/team">Listar</a></li>
                    <li><a href="/admin/team/add">Agregar</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-bolt"></i><span class="nav-title">Jugadores</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/player">Listar</a></li>
                    <li><a href="/admin/player/add">Agregar</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-map-alt"></i><span class="nav-title">Estadios</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/stadium">Listar</a></li>
                    <li><a href="/admin/stadium/add">Agregar</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-ruler-alt"></i><span class="nav-title">Árbitros</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/referee">Listar</a></li>
                    <li><a href="/admin/referee/add">Agregar</a></li>
                </ul>
            </li>

            <li class="nav-static-title">Configuraciones</li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-cup"></i><span class="nav-title">Competiciones</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/competition">Listar</a></li>
                    <li><a href="/admin/competition/add">Agregar</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-pin-alt"></i><span class="nav-title">Posiciones</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/position">Listar</a></li>
                    <li><a href="/admin/position/add">Agregar</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-flag"></i><span class="nav-title">Comunidades</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/community">Listar</a></li>
                    <li><a href="/admin/community/add">Agregar</a></li>
                </ul>
            </li>
            <li><a href="/admin/user" aria-expanded="false"><i class="nav-icon ti ti-user"></i><span class="nav-title">Usuarios</span></a></li>
        </ul>
    </div>
    <!-- end sidebar-nav -->
</aside>