<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layouts/default">
<!-- begin container-fluid -->
<div class="container-fluid" layout:fragment="content">
    <!-- begin row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-statistics">
                <!-- begin page title -->
                <div class="card-header">
                    <div class="card-heading">
                        <h3 class="card-title">Editar Equipo</h3>
                    </div>
                </div>
                <!-- end page title -->
                <div class="card-body">
                    <form action="/admin/team/update" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Nombre completo</label>
                            <input th:value="${Team.FullName}" type="text" name="FullName" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Apodo</label>
                            <input th:value="${Team.NickName}" type="text" name="NickName" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Iniciales</label>
                            <input th:value="${Team.Initials}" type="text" name="Initials" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Logotipo</label>
                            <!-- file -->
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="max-width: 200px; height: auto;">
                                        <img th:src="'/uploads/team/' + ${Team.Logotype}" class="img-responsive" src="/admin/assets/img/image-preview.jpg" alt="" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; height: auto;"></div>
                                    <div>
                                        <span class="btn btn-inverse-primary btn-file">
                                        <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Seleccione la imagen</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Cambiar</span>
                                        <input name="file" id="cmp_path" onchange="document.getElementById('name_file').value = this.value" type="file" class="default"/>
                                        <input th:value="${Team.Logotype}" name="name_file" type="hidden" id="name_file" value="default"/>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- file -->
                        </div>

                        <div class="form-group">
                            <label>Comunidad</label>
                            <select name="community.Id" class="form-control" required>
                                <th:block th:each="Community : ${Communities}">
                                    <option th:value="${Community.Id}" value="1" th:text="${Community.Name}" th:selected="${Community.Id==Team.community.Id}">Conapi Sumariri</option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Correo electrónico</label>
                            <input th:value="${Team.Email}" type="email" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <input th:value="${Team.Id}" type="hidden" name="Id" required>
                            <button type="submit" class="btn btn-primary text-uppercase">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- end container-fluid -->
</html>